@import "../../_variables.scss";
@import "../../_mixins.scss";

.login{

    @include flexAlignment(center,center,column,wrap);
    font-size: 1.6rem;
    font-weight: bold;
    color:$accent-color;
    &-label{
        font-size: 1.8rem;
        margin:0.6rem 0rem;
    }
    
    .login-button{
        @include button($accent-color-2, white, 1rem 0rem, 1.2rem 1.8rem, none, bold);
        font-size: 1.5rem;
        &:hover{
            background-color: $accent-color;
            color:white;
        }
    }
}
