@import "../../_mixins";
@import "../../_variables";

.landing{
    
    @include flexAlignment(space-evenly,center,row,wrap);
    color:white;
    font-size:9rem;
    
    .landing-description-box{
        font-size:6rem;
        margin: 4rem 0rem;
        .check-mark-icon{
            width:3rem;
            height:3rem;
        }
    }

    .punchline{
        font-size: 3rem;
        margin: 1.2rem 0rem;
    }
    .landing-buttons-box{

        @include flexAlignment(space-evenly,center,row,wrap);
        .landing-button{
            @include button(rgba(57, 82, 92, 0.1),white, 1rem 1rem, 2rem 2rem, 0.2rem solid $accent-color-2, bold);
            border-radius: 1.6rem;
            font-size: 2.5rem;
            text-decoration: none;
            text-align: center;
            animation: glowing 4s infinite;
            @keyframes glowing {
                0% { box-shadow: 0rem 0rem -5rem rgb(230, 124, 38); }
                40% { box-shadow: 0rem 0rem 4rem rgb(230, 124, 38); }
                60% { box-shadow: 0rem 0rem 4rem rgb(230, 124, 38); }
                100% { box-shadow: 0rem 0rem -5rem rgb(230, 124, 38); }
              }
            &:hover{
                background-color: $accent-color-2;
            }
        }
    }

    .landing-cooks-header{
        width:100%;
        font-size: 3.2rem;
        text-align: center;
        margin-top:1rem;
    }
}

