@import "../../_variables.scss";
@import "../../_mixins.scss";

    .meal-tags{
        @include flexAlignment(center,flex-start,column,wrap);
        font-size:1.6rem;
    }

    .add-tag{
        @include flexAlignment(flex-start,center,row,wrap);
    }
    
    .meal-tag{
        @include flexAlignment(flex-start,center,row,wrap);
        margin-right:0.4rem;
        margin-top:0.2rem;
        margin-bottom:0.2rem;
        padding: 0.2rem 0.2rem;
        border: 0.2rem solid $accent-color-2;
        border-radius: 1rem;
        color:$accent-color-2;
    }

    .remove-tag-button{
        background-color: $accent-color-2;
        color:white;
        border:none;
        margin:0.1rem 0.1rem;
        padding:0rem 0.5rem;
        border: 0rem solid;
        border-radius: 0.6rem;
        text-align: center;
        vertical-align: middle;
        cursor:pointer;
    }

    .add-tag-button{
        background-color: $accent-color;
        color:white;
        margin:0.2rem 0.2rem;
        padding:0.5rem 0.5rem;
        border: 0rem solid;
        border-radius: 0.6rem;
        cursor:pointer;
    }
    
    .add-tag-button-disabled{
        @extend .add-tag-button;
        background-color: gray;
        pointer-events: none;
    }

