@import "../../_variables.scss";
@import "../../_mixins.scss";

.cart{
    
    @include flexAlignment(center,center,column,wrap);
    margin:6px 6px;
    padding:10px 10px;

    .meals-in-cart{
        @include flexAlignment(center,center,row,wrap);
    }

    .cart-meal-details{
        @include flexAlignment(center,center,column,nowrap);
        background-color: rgba(218, 221, 224, 0.8);
        margin: 4px 4px;
        padding: 10px 10px;
    }

    .cart-header{
        color:white;
        text-align: center;
    }

    .remove-from-cart-button{
        @include button(rgb(230, 59, 59),white,4px 4px, 8px 8px, none, bold);
        &:hover{
            background-color: $accent-color;
            color:white;
        }
    }

    .cart-price{
        font-size: 20px;
        color:$accent-color;
    }

    .checkout-button{
        @include button(rgb(46, 165, 46),white,16px 16px, 16px 16px, none, none);
        font-size: 18px;
    }
}
