@import "../../_variables.scss";
@import "../../_mixins.scss";

.cart{
    
    @include flexAlignment(center,center,column,wrap);
    margin:0.6rem 0.6rem;
    padding:1rem 1rem;

    .meals-in-cart{
        @include flexAlignment(center,center,row,wrap);
    }

    .cart-meal-details{
        @include flexAlignment(center,center,column,nowrap);
        font-size: 2rem;
        background-color: rgba(218, 221, 224, 0.8);
        margin: 0.4rem 0.4rem;
        padding: 1rem 1rem;
        width:10vw;
    }

    .cart-header{
        color:white;
        text-align: center;
        font-size: 1.6rem;
    }

    .remove-from-cart-button{
        @include button($danger-color,white,0.4rem 0.4rem, 0.8rem 0.8rem, none, bold);
        &:hover{
            background-color: $accent-color;
            color:white;
        }
    }

    .cart-meal-icon{
        width:4rem;
        height:4rem;
    }

    .checkout-button{
        @include button(rgb(46, 165, 46),white,1.6rem 1.6rem, 1.6rem 1.6rem, none, none);
        font-size: 1.8rem;
    }
}
