@import "../../_variables.scss";
@import "../../_mixins.scss";

.profile{
    
    @include flexAlignment(center,center,column,wrap);
    font-size: 1.6rem;
    color:$accent-color;
    font-weight: bold;
    &-label{
        margin:0.6rem 0rem;
    }

    .change-password-button{
        color:$accent-color-2;
        border:none;
        outline: none;
        background-color: inherit;
        font-size: 1.6rem;
        margin-top:1rem;
        &:hover{
            color:$accent-color;
        }
    }
}
