@import "../../_variables.scss";
@import "../../_mixins.scss";

.customer-meals{
    @include flexAlignment(center,center,column,wrap);
    font-size: 1.6rem;
    margin:0.6rem 0.6rem;
    padding:1rem 1rem;

    &-button{
        @include button($accent-color, white, 0.4rem 0.4rem, 0.4rem 0.4rem, none, bold);
        &:hover{
            background-color: darkorange;
        }
    }

    .meal-details{
        @include flexAlignment(space-between,center,row,nowrap);
        width:50%;
        background-color: rgba(218, 221, 224, 0.8);
        margin: 0.4rem 0.4rem;
        padding: 1rem 1rem;
    }

    .button-add-to-cart{
        @include button($accent-color, white, 0.2rem 0.2rem, 0.4rem 0.4rem, none, bold);
        &:hover{
            background-color: darkorange;
        }
    }
    
    .meal-name{
        color:$accent-color;
        font-weight: bold;
        font-size:2rem;
        margin-bottom: 0.6rem;
    }

    .meal-icon{
        width:6rem;
        height:6rem;
    }
    .meals-page-numbers{
        display:flex;
        flex-direction: row;
    }
    .meals-page-number{
        @include button($accent-color, white, 0.8rem 0.8rem, 0.4rem 0.8rem, none, bold);
        font-size:2rem;
        &:hover{
            background-color: darkorange;
            color:$accent-color;
        }
        &.active{
            background-color: darkorange;
            color:$accent-color;
        }
    }
    .cart-price{
        font-size: 2rem;
        color:$accent-color;
    }
}

