@import "../../_variables.scss";
@import "../../_mixins.scss";

.nav-bar{

    @include flexAlignment(flex-end,center,row,wrap);
    background-color:rgba(57, 82, 92, 0.7);;
    color:white;
    padding: 3rem 3rem;
    font-size: 1.8rem;
   
    .nav-link{
        color:white;
        text-decoration: none;
        margin: 1rem 1rem;
        padding: 1rem 1rem;
        &:hover{
            color:$accent-color-2;
        }
    }

    .cart-number{
        border:0.2rem solid;
        border-radius: 0.2rem;
        font-size: 1.6rem;
    }

    .cart-icon{
        height:2.5rem; 
        width:2.5rem;
    }
}

