@import "../../_variables.scss";
@import "../../_mixins.scss";
nav{
    background-color:$accent-color;
    color:white;
    padding: 30px 30px;
    font-size: 18px;
    @include flexAlignment(flex-end,center,row,wrap);
    .nav-link{
        color:white;
        text-decoration: none;
        margin: 10px 10px;
        padding: 10px 10px;
        &:hover{
            color:darkorange;
        }
    }
}
.cart-number{
    border:2px solid;
    border-radius: 2px;
    font-size: 16px;
}
