@import "../../_variables.scss";
@import "../../_mixins.scss";

.nav-bar{

    @include flexAlignment(flex-end,center,row,wrap);
    background-color:rgba(57, 82, 92, 0.7);;
    color:white;
    padding: 3rem 3rem;
    font-size: 2.2rem;
   
    .nav-link{
        color:white;
        text-decoration: none;
        margin: 0.1rem 0.1rem;
        padding: 1rem 1rem;
        &:hover{
            color:$accent-color-2;
        }
    }

    .cart-icon{
        height:2rem; 
        width:2rem;
    }
}

