@import "../../_variables.scss";
@import "../../_mixins.scss";
.paging{
    @include flexAlignment(center,center,row,wrap);
    background-color: rgba(218, 221, 224, 0.8);
    .paging-number{
        @include button($accent-color, white, 0.8rem 0.8rem, 0.4rem 0.8rem, none, bold);
        font-size:2rem;
        outline:none;
        &:hover{
            background-color: $accent-color-2;
            color:$accent-color;
        }
        &.active{
            background-color: $accent-color-2;
            color:$accent-color;
        }
    }
}