@import "../../_mixins";
@import "../../_variables";

.carousel{
    //position: relative;
    @include flexAlignment(center,center,row,nowrap);
    width:100%;
    margin-top:1.8rem;
    .carousel-items{
        //width:86%;
        display:flex;
        align-items: center;
        overflow: hidden;
    }
   .carousel-item{
        @include flexAlignment(center,center,column,wrap);
        box-sizing: border-box;
        font-size:1.8rem;
        background-color: rgba(57, 82, 92, 0.7);
        min-width:20%;
        padding:1rem 1rem;
        border: 0.6rem solid rgba(255, 255, 255,0.1);
        border-radius: 1.2rem;
        transition:.5s;
    }
    .carousel-button{
        width:7%;
        height: 50px;
        background:none;
        border:none;
        &:active, &:focus{
            outline:none;
        }
        &:hover{
            background-color: rgba(209, 209, 209, 0.3);
        }
    }
    .carousel-hidden-button{
        display: none;
    }

    @media (max-width: 800px){
        .carousel-item {
          min-width: 33.33%;
        }
    }
    @media (max-width: 600px){
        .carousel-item {
          min-width: 100%;
        }
    }
}


