@import "../../_mixins";
@import "../../_variables";

.carousel{
    position: relative;
    margin-top:4rem;
    width:80%;
    display:flex;
    align-items: center;
    overflow: hidden;

   .carousel-item{
        @include flexAlignment(center,center,column,wrap);
        box-sizing: border-box;
        font-size:1.8rem;
        background-color: rgba(57, 82, 92, 0.7);
        min-width:20%;
        padding:1rem 1rem;
        height:80%;
        border-right: 0.6rem solid rgba(255, 255, 255,0.1);
        transition:.5s;
    }

    .carousel-button{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width:5%;
        height:30%;
        background:none;
        border:none;
        &:active, &:focus{
            outline:none;
        }
        &:hover{
            background-color: rgba(209, 209, 209, 0.3);
        }
    }

    .carousel-button-left{
        @extend .carousel-button;
        left:0;
    }

    .carousel-button-right{
        @extend .carousel-button;
        right:0;
    }

    @media screen and (max-width: 450px) and (min-width: 100px){
        .carousel-item {
          min-width: 100%;
        }
    }

    @media screen and (max-width: 600px) and (min-width:450px){
        .carousel-item {
          min-width: 33%;
        }
    }
}


