@import "../../_variables.scss";
@import "../../_mixins.scss";
.cook-details{
    @include flexAlignment(center,center,row,wrap);
    margin:10px 10px;
    padding:10px 10px;

    &-button{
        @include button($accent-color, white, 4px 4px, 4px 4px, none, bold);
        &:hover{
            background-color: darkorange;
        }
    }
}
.animate-cook-details{
    animation-name: move-from-right-to-left;
    animation-duration: 0.2s;
}
@keyframes move-from-right-to-left {
    0%  {left:100px;}
    10% {left:90px;}
    20% {left:80px;}
    30% {left:70px;}
    40% {left:60px;}
    50% {left:50px;}
    60% {left:40px;}
    70% {left:30px;}
    80% {left:20px;}
    90% {left:10px;}
    100% {left:0px;}
}
