@import "../../_variables.scss";
@import "../../_mixins.scss";

.sign-up{

    @include flexAlignment(center,center,column,wrap);
    font-size: 1.6rem;
    color:$accent-color;
    font-weight: bold;
    &-label{
        margin:0.6rem 0rem;
    }
    
    .upload-photo-button{
        padding: 0.4rem 0.4rem;
        border:0.2rem solid white;
        border-radius: 0.8rem;
        background-color: inherit;
        width:10rem;
        height:2rem;
        font-size:1.4rem;
        cursor:pointer;
    }

    .sign-up-header{
        font-size: 2.2rem;
        margin: 2rem 1rem;
    }
}
