@mixin flexAlignment($horizontal-alignment, $vertical-alignment, $direction, $wrap){
    display: flex;
    justify-content: $horizontal-alignment;
    align-items: $vertical-alignment;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin button($background-color, $color, $margin, $padding, $border, $font-weight){
    background-color: $background-color;
    color: $color;
    margin: $margin;
    padding: $padding;
    border: $border;
    font-weight: $font-weight;
    cursor:pointer;
}