$accent-color: rgb(57, 82, 92);
$accent-color-2: rgb(214, 136, 34);
$danger-color:rgb(243, 92, 79);
$transparent-color:rgba(218, 221, 224, 0.8);
$main-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;