@import "_variables.scss";

html, body{
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $main-font;
  background-image: url("images/homepage-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button{

  &-main{
    background-color: $accent-color;
    color: white;
    margin: 0.8rem 0.8rem;
    padding: 1.2rem 1.2rem;
    border: none;
    font-weight: bold;
    border-radius: 1.2rem;
    font-size: 1.8rem;
    cursor:pointer;
    outline:none;
    &:hover{
      background-color: $accent-color-2;
    }
  }

  &-small{
    @extend .button-main;
    margin:0.2rem 0.2rem;
    padding: 0.6rem 0.6rem;
    font-size:1.4rem;
    font-weight: normal;
  }
}

.wrapper{
  padding:2rem 2rem;
  margin:2rem 2rem;
  background-color: rgba(218, 221, 224, 0.8);
  position: relative;
}

.message-danger{
  color:rgb(235, 68, 46);
  font-weight: bold;
}

.no-left-margin{
  margin-left:0rem;
}

input[type=number]{
  width:6rem;
  font-size:2rem;
  border:none;
}

input[type="file"]{
  display: none;
}

.spinner{
  text-align: center;
  margin:0rem;
  img{
      width:90rem; 
      height:60rem;
  }
}



